.todoItems {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.itemCheckbox {
    height: 60%;
    margin: auto;
}

.todoItems button {
    padding: 0.5rem;
    margin: auto;
}

.datediff {
    border-radius: 15rem;
    position: relative;
    text-align: right;
    margin-left: -2.5rem;
}