.loginContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 10vh;
    width: 80vw;
}

form,
.inputSection,
.loginContainer button,
.signupSection, 
.signupSection button{
    width: 100%;
}

.forgotPWSection a {
    color: black;
}