@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&family=Josefin+Sans:wght@200&family=Oswald:wght@200;500&family=Outfit:wght@200&family=Roboto+Mono:wght@100;400&display=swap");
 
/*
@font-face {
    font-family: 'Otama-ep';
    src: local('Otama-ep'), url(../fonts/Otama-ep-webfont.woff) format('woff');
}
.otoma {
    font-family: 'Otama-ep';
} vekje koffor du he en otama class så ej lar den stå sjøl om fonten e bytta ut*/

@font-face {
    font-family: 'Delius';
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --color-pink: #FBDCE2;
    --color-moss: #005C66;
    --color-grass: #60AB9A;
    --color-pinkOffset: rgba(251, 220, 226, 0.3);
    --color-coral: LightCoral;
    --color-dark: rgb(50, 50, 50);
    --color-light: rgb(240, 240, 240);
    --color-grey: #d3d3d3;
    --headings-font: 'Delius', sans-serif;
    --content-font: 'Inter', sans-serif;
}

.globalBox{
    margin: 0 0 10vh 0;
    max-width: 100vw;
}

h1,
h2{
    font-family: var(--headings-font);
}

p{
    font-family: var(--content-font);
}

body {
    background: var(--color-pinkOffset);
    color: rgb(27, 27, 27);
    font-family: "Be Vietnam Pro", sans-serif;
    display: grid;
    height: 98vh;
}

section {
    margin: auto;
}
.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
}

.greenBG {
    background-color: var(--color-moss);
}

.greenBorder {
    border: var(--color-moss) 3px solid;
    background-color: #ffffff;
    color: var(--color-dark);
}
.grassBG {
    background-color: var(--color-grass);
}

.green {
    background-color: linear-gradient(92.88deg, #45b558 9.16%, #43cc61 43.89%, #7cd73f 64.72%);
}

textarea,
input {
    color: black;
    width: 100%;
    align-self: stretch;
    padding: .7rem;
    /* margin: .5rem 0; */
    font-family: inherit;
    font-weight: inherit;
    border: 2px var(--color-grey) solid;;
    border-radius: 0.5rem;
}

textarea,
input[type]::placeholder {
    color: #b0bec5;
}

textarea,
input[type]:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
    border: 2px var(--color-pink) solid;
}

.todoItems {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.addInput {
    display: flex;
    gap: 0.6rem;
}

.pfp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.baseWhite {
    background-color: white;
    color: var(--color-dark);
}
.coral {
    background-color: var(--color-coral);
}

/* button baseline style */
button {
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0.4em 0;
    border-radius: .5rem;
    box-shadow: 1px 0 12px rgba(108, 108, 108, 0.25);
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    transition: all 0.5s;
}

.inviteCard {
    width: 50%;
    background-color: rgba(240, 248, 255, 0.212);
    padding: 2rem;
    border-radius: 0.5rem;
}